.DS_STORE
node_modules
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode/*
!.vscode/settings.json
*.swp
*.swo
/dist/
dummy.py
.env
.envrc*
.node-version
e2e/cypress/screenshots
e2e/cypress/videos
e2e/cypress/trail
.reg
